/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Open+Sans&family=Pacifico&family=Poppins:wght@400;500&family=Work+Sans:wght@300;500;600;700;800;900&display=swap');

/* *************************
Common Styles Or Utilities 
****************************
*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main {
    display: flex;
    flex-direction: column;
     align-items: center;
}
.container{
    background-color: #ffff;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}


/* ==================
 Top Players Style
===================== */
.top-players {
 margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
    margin-top: 3px ;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    /* border-bottom: 1px solid #D1D1D1; */
}
 .player img {
    width: 56px;
    height: 56px;
}
.player {
    display: flex;
    align-items: center;
}
.player-name {
    font-size: 18px;
    margin-left: 16px;
    font-weight: 500;
}

hr {
    border: 1px solid #D1D1D1;
}
/*--------------------------
          Top Blogs Styles 
        --------------------------*/
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
/* .blogs .blog .thumbnail {
    display: flex;
} */

.blog .thumbnail img {
      width: 177px;
      height: 117px;
}
.blog-info {
    margin-left: 16px;
}
.top-blogs-title {
    margin-top: 30px;
}
.blog-info .blog-title {
    font-size: 20px;
    font-weight: 500;
    /* line-height: 34px; */
}
.blog-info .blog-author {
    color: #9F9F9F;
    /* line-height: 24px; */
    font-size: 16px;

}
.blog-info .blog-author a{
    text-decoration: none;
    color:#562EFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    
}

   /* ----------
    Courses Styles       
    -------------*/

.courses .course-banner img {
    width: 224px;
    height: 104px;
   
}
.course-info { display: flex;
               gap: 45.45px;
}
.rating-icons i {
    color: #FFC014;
}
.rating-icons .rating-text {
    color: darkgray;
    font-size: 14.69px;
    font-weight: 400;
    line-height: 22.04px;
    margin-left: 5.88px;
}

.rating-icons  .empty  {
  color: lightgray;
}
.course-duration {
    color: #FF4A60;
    font-weight: 500;
    background-color:#FFE4E8;;
    width: 100px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    /* margin-top: 30px; */
    margin-top: -20px;
    
}
 
